*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}

.forms-container{
    height: 100%;
    width: 100%;
    background-image:url(../snehal/img/WhatsApp\ Image\ 2021-11-20\ at\ 11.45.32\ AM.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width:25%;
    height:70%;
    background: white;
    margin: 6% auto;
    position: relative;
    padding: 1.2em;
    border-radius: 1rem;
    overflow: hidden;
}

.button-box{
    box-shadow: 0 0 0.4em 0.1em rgb(238, 116, 228);
    width: 13.6em;
    margin: 1em auto;
    position: relative;
    border-radius: 1rem;
}

.toggle-button{
    padding: 0.3rem 1.8rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0%;
    left: 0%;
    position: absolute;
    width: 6.8em;
    height: 100%;
    background: linear-gradient(to right, rgb(246, 10, 246),rgb(248, 207, 214));
    border-radius: 1rem;
    transition: 1s;
}

.log-in{
    top: 10rem;
    position: absolute;
    width: 18rem;
    transition: 1s;
}

.form-field{
    width: 100%;
    padding: 0.5rem 0;
    margin: 0.2rem 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.1rem solid gray;
    outline: none;
    background: transparent;
}

.checkbox{
    margin: 1rem 0.5rem;
}

.submit{
    width: 80%;
    padding: 0.3rem 1.8rem;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgb(246, 10, 246),rgb(248, 207, 214));
    border-radius: 1em;
    border: 0;
    outline: none;
}

span{
    color: gray;
}
.sign-up{
    top: 10rem;
    position: absolute;
    width: 18rem;
    transition: 1s;
}

#login{
    left: 2.4rem;
}
#signup{
    left: 32.4rem;
}

 .hide {
    display: none;
    font-size: x-small;
  }
  .hide1 {
    display: none;
    font-size: x-small;
  } 
  
  #txtPassword:hover + .hide {
    display: block;
    color: rgb(246, 49, 49);
  }

  #txtConfirmPassword:hover + .hide1 {
    display: block;
    color: rgb(246, 49, 49);
  }