body{
    padding: 3rem;
    font-size: 1.4rem;
}
.product-container{
    margin: 3rem;
    background-color: rgb(183, 117, 245);
}
.product-main{
    display: flex;
    width: 100%;
}
.product-img{
    width:60%;
    padding: 2rem;
}
.product-img img{
    width: 100%;
    padding: 3rem;
}
.product-discription{
    width: 40%;
    padding-top: 6rem;
    padding: 2rem;
}
.bid{
    width: 100%;
    text-align: right;
    padding: 1rem;
}
.bid button{
    padding: 0.5rem;
    background-color: rgb(48, 184, 48);
    border-radius: 0.3rem;
    border: 1rem;
}
.bid input{
    padding: 0.5rem;
    border: none;
    outline: none;
    border: 1rem;
}
.title-desc{
    text-align: center;
    padding: 3rem;
}